{% extends 'bases/index.html' %}

{%block content%}

<header>
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Add Order</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Delete Order</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#/modelo_list.html">List all Orders</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>
</header>

{% endblock%}

